.DS_Store
Sopra.Api/.DS_Store
Sopra.Api/appsettings.json
Sopra.Api/appsettings.Development.json
/Sopra.Api/bin
*.plist
Sopra.Api/google-services.json
/Sopra.Api/obj
Sopra.Api/sopra-pack-firebase-adminsdk-8r3rs-c611854aa7.json
Sopra.Api/sopra-poc-0272734caaea.json
Sopra.Api/Credentials
/Sopra.Test/bin
/Sopra.Test/obj
/Sopra.Worker/bin
/Sopra.Worker/obj
/Sopra/bin
Sopra/snap_sign.devapi.klikbca.com.pem
Sopra/testing-search-427704-a68f90122efb.json
/Sopra/obj
Sopra/private-key.pem
Sopra/public-key.pem
Sopra.Test/appsettings.json
Sopra.Worker/appsettings.json
Sopra/Services/Api/WEB/obj/Debug
Sopra/Entities/WEB/obj/Debug
